<form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <div class="form-control">
        <label for="email" class="form-control__label">Email Address</label>
        <input type="text" name="email" class="form-control__input" formControlName="email">
    </div>
    
    <div class="form-control">
        <label for="password" class="form-control__label">Password</label>
        <input type="password" name="password" class="form-control__input" formControlName="password">
    </div>

    <div class="form-control">
        <button type="submit" class="form-control__submit" [disabled]="!loginForm.valid">Submit</button>
    </div>

</form>
<p>Entered email: {{ loginForm.value.email }}</p>